<p id="notice"><%= notice %></p>
<article class="message is-dark">
  <div class="message-header">
    <p>Directories</p>
  </div>
</article>

<div class="box">
<br>
 <div class="table-container">  
  <table class="table is-striped is-flex-tablet-only is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th align="justify" colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @directories.each do |directory| %>
        <tr>
          <td><%= directory.name %></td>
          <td>
            <%= render 'shared/action_links', object: directory %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Directory', new_directory_path,class: "button is-link" %>
</div>
