<article class="message is-dark">
	<div class="message-header">
		<p>New Directory</p>
	</div>
</article> 
<%= render 'form', directory: @directory %>

<%= link_to 'Back', directories_path ,class: "button is-info is-inverted"%>
